@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 340;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body {
    background-color: #d19f66;
}

#info {
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    width: 99.6%;
    margin: 0 auto;
}

main {
    background-color: #cea372;
    width: 33.34%;
    display: flex;
    flex-direction: column;
    padding: 6% 0;
    border-radius: 12px;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 10px black;
}

main h1 {
    position: absolute;
    top: -6%;
    font-size: 150px;
    color: #cea372;
    text-shadow: 7px 5px 7px #c29159;
    font-weight: bold;
    margin: 0;
    user-select: none;
}

main div {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

main div:nth-child(even):hover {
    background-color: #eeeeee1e;
}

main div:nth-child(odd):hover {
    background-color: rgba(168, 168, 168, 0.118);
}

main div .name {
    width: 33.33%;
    text-align: center;
    font-size: 22px;
    padding: 8px;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
}

main div input {
    width: 25%;
    margin: 0;
}

/*** SLIDER ***/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/*** SLIDER END ***/

